<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">
        <span>Copyright © {{ $.Site.Params.Copyyears | safeHTML }} {{ $.Site.Copyright | safeHTML }}</span>
    {{else}}
      <div class="copyright">
        <span>© {{ now.Year }}. All rights reserved.</span>
    {{end}}
        <span>[<a href="https://github.com/landonb/promulgate">source</a>]</span>
      </div>
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
